@tailwind base;
@tailwind components;
@tailwind utilities;


/* Genshin Font */
@font-face {
	font-family: "Genshin Impact Font";
	src: url('/zh-cn.ttf');
}


/* Google Material Symbols */
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url(/GoogleMaterialSymbols.woff2) format('woff2');
}

.material-symbols,
.material-symbols-nosize {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.material-symbols {
	font-size: 24px;
}

img {
	user-select: none;
}